* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: coral;
}

.container {
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.slider {
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 880px;
    max-height: 880px;
    display: flex;
    overflow-x: auto;
    border-radius: 15px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slider__slide {
    min-width: 880px;
    display: flex;
    scroll-snap-align: center;
}

img {
    object-fit: contain;
}

a { 
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 25px;
    width: 25px;
}