* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: coral;
}

.container {
    text-align: center;
    margin: 5vh auto;
    overflow: hidden;
}

.slider {
    margin: 0 auto;
    max-width: 880px;
    max-height: 880px;
    display: flex;
    overflow-x: auto;
    border-radius: 15px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slider__slide {
    min-width: 880px;
    display: flex;
    scroll-snap-align: center;
}

img {
    object-fit: contain;
}